# Шаблоны игнорирования в git
# https://www.atlassian.com/ru/git/tutorials/saving-changes/gitignore#git-ignore-patterns
#

*.exe
*.ii
*.s
*.o

build_ninja/
_codeql_detected_source_root
src/_codeql_build_dir/
